/* background: linear-gradient(rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.4)), url('/images/EhYKSby.png'); */
$image-text: #FFFFFF;
$secondary-color: #BFBDB1;

@mixin full-images($url) {
  background: url($url) no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*************************************************************
Navigation link effects found on Codrops at
http://tympanus.net/codrops/2013/08/06/creative-link-effects/
and have been modified to work with this
project in a nav bar.
*************************************************************/

/*******************************
320PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 320px) {
  body {
    background: linear-gradient(rgba(191, 189, 177, 0.6), rgba(191, 189, 177, 0.6)), url('../images/graydogs.png');
  }

  .header-img {
    @include full-images('../images/homepg1920.jpg');
  }

  .about-img {
    @include full-images('../images/homemap600.jpg');
  }

  .notfound-img {
    @include full-images('../images/404img1920.jpg')
  }

  .notfound-text {
    margin-top: 45vh;
    color: $image-text;
    text-align: center;
  }

  .admin-img {
    @include full-images('../images/admin1920.jpg')
  }

  nav a {
  	position: relative;
  	display: inline-block;
  	margin: 15px 25px;
  	outline: none;
  	color: $image-text;
  	text-decoration: none;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 400;
  	text-shadow: 0 0 1px rgba(255,255,255,0.3);
  	font-size: 1.35em;
    padding: 0 20px;
  	height: 45px;
  	line-height: 45px;
  }

  nav a:hover,
  nav a:focus {
  	outline: none;
    text-decoration: none;
    color: $image-text;
  }

  .nav-effect a::before,
  .nav-effect a::after {
  	position: absolute;
  	width: 45px;
  	height: 2px;
  	background: $image-text;
  	content: '';
  	opacity: 0.2;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	pointer-events: none;
  }

  .nav-effect a::before {
  	top: 0;
  	left: 0;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	transform: rotate(90deg);
  	-webkit-transform-origin: 0 0;
  	-moz-transform-origin: 0 0;
  	transform-origin: 0 0;
  }

  .nav-effect a::after {
  	right: 0;
  	bottom: 0;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	transform: rotate(90deg);
  	-webkit-transform-origin: 100% 0;
  	-moz-transform-origin: 100% 0;
  	transform-origin: 100% 0;
  }

  .nav-effect a:hover::before,
  .nav-effect a:hover::after,
  .nav-effect a:focus::before,
  .nav-effect a:focus::after {
  	opacity: 1;
  }

  .nav-effect a:hover::before,
  .nav-effect a:focus::before {
  	left: 50%;
  	-webkit-transform: rotate(0deg) translateX(-50%);
  	-moz-transform: rotate(0deg) translateX(-50%);
  	transform: rotate(0deg) translateX(-50%);
  }

  .nav-effect a:hover::after,
  .nav-effect a:focus::after {
  	right: 50%;
  	-webkit-transform: rotate(0deg) translateX(50%);
  	-moz-transform: rotate(0deg) translateX(50%);
  	transform: rotate(0deg) translateX(50%);
  }

  .nav-map a:nth-child(2)::before {
    opacity: 1;
  	top: 0;
  	left: 24%;
    -webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	transform: rotate(0deg);
  }

  .nav-map a:nth-child(2)::after {
    opacity: 1;
  	right: 26%;
  	bottom: 0;
    -webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	transform: rotate(0deg);
  }

  .nav-portfolios a:nth-child(3)::before {
    opacity: 1;
	  top: 0;
	  left: 39%;
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform: rotate(0deg);
  }

  .nav-portfolios a:nth-child(3)::after {
    opacity: 1;
	  right: 37%;
	  bottom: 0;
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform: rotate(0deg);
  }

  .foot-top {
    margin-top: 30vh;
    a {
      color: $image-text;
    }
    a:hover, a:focus {
      text-decoration: none;
    }
  }

  .angular-google-map-container {
    margin-top: 0;
    height: 70vh;
    border-radius:10px;
    @include box-shadow;
  }

  .home-logo {
    margin-top: 20vh;
    img {
      width: 80%;
    }
  }

  .notfound-logo {
    margin-top: 10vh;
    img {
      width: 40%;
    }
  }

  .home-search {
    margin-top: 35vh;
  }

  .home-about {
    margin-top: 20vh;
  }

  .home-create {
    margin-top: 5vh;
  }

  .list-item {
    margin-top: 10vh;
    img {
      display: inline;
      width: 100%;
      @include box-shadow;
    }
    button {
      margin-top: 2vh;
    }
  }

  .portfolio {
    margin-top: 10vh;
    img {
      width: 100%;
      @include box-shadow;
    }
  }

  .portfolio-bio {
    margin-top: 5vh;
  }

  .new-groomer {
    margin-top: 1vh;
  }

  /*************************************************************
  New profile form fields styles found on Sanwebe.com at
  http://www.sanwebe.com/2014/08/css-html-forms-designs
  and have been modified to work with this form and application.
  *************************************************************/

  .new-profile-form{
    padding: 2%;
  }

  .new-profile-form div {
    padding:0;
    margin:0;
  }

  .new-profile-form .form-group {
    display: block;
    padding: 9px;
    border: 2px solid $image-text;
    margin-bottom: 4vh;
    border-radius: 3px;
  }

  .new-profile-form .form-group > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: $image-text;
    border-radius: 3px;
    height: 1.5em;
    padding: 2px 5px 2px 5px;
    color: $secondary-color;
  }

  .new-profile-form input,
  .new-profile-form textarea
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    background: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
  }

  .new-profile-form .form-group > span {
    background: $secondary-color;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: $image-text;
    font-size: 11px;
  }

  .new-profile-form textarea {
    resize:none;
    height: 10vh;
  }

  .list-search {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

/*******************************
640PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 640px) {
  .about-img {
    @include full-images('../images/homemap800.jpg');
  }

  .home-logo {
    img {
      width: 60%;
    }
  }

  .review-btn {
    margin-bottom: 5vh;
  }

}

/*******************************
960PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 960px) {
  .about-img {
    @include full-images('../images/homemap1280.jpg');
  }
  .home-logo {
    img {
      width: 50%;
    }
  }

}

/*******************************
1280PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
}

/*******************************
1920PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
  .about-img {
    @include full-images('../images/homemap1920.jpg');
  }

}
