/* background: linear-gradient(rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.4)), url('/images/EhYKSby.png'); */
$image-text: #FFFFFF;

@mixin full-images($url) {
  background: url($url) no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*******************************
320PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 320px) {
  body {
    background-image: url('../images/lightpaperfibers_@2X.png')
  }

  .header-img {
    @include full-images('../images/homepg1920.jpg');
  }

  .about-img {
    @include full-images('../images/homemap600.jpg');
  }

  nav{
    height: 20vh;
    a {
      margin: 2%;
      color: $image-text;
    }
    li {
      list-style: none;
      display: inline;
      font-size: 32px;
      border-left: 2px solid;
    }
    ul {
      margin-left: 20%;
    }
  }

  .home-logo {
    margin-top: 20vh;
    img {
      width: 80%;
    }
  }

  .home-search {
    margin-top: 30vh;
  }

  .home-about {
    margin-top: 15vh;
  }

  .home-create {
    margin-top: 5vh;
  }

  .list-search {
    margin-top: 10vh;
  }

  .list-item {
    margin-top: 10vh;
    img {
      display: inline;
    }
  }

  .portfolio {
    margin-top: 15vh;
  }

  .portfolio-bio {
    margin-top: 5vh;
  }
}

/*******************************
640PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 640px) {
  .about-img {
    @include full-images('../images/homemap800.jpg');
  }

  .home-logo {
    img {
      width: 60%;
    }
  }

}

/*******************************
960PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 960px) {
  .about-img {
    @include full-images('../images/homemap1280.jpg');
  }
  .home-logo {
    img {
      width: 40%;
    }
  }

}

/*******************************
1280PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
}

/*******************************
1920PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
  .about-img {
    @include full-images('../images/homemap1920.jpg');
  }

}
