$image-text: #FFFFFF;
$main-text: #000000;
$bs-text: #333333;
$secondary-color: #A0A0A0;
$complimentary-color: #404040;
$font: 'Arimo', sans-serif;

@mixin full-images($url) {
  background: url($url) no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*************************************************************
Navigation link effects found on Codrops at
http://tympanus.net/codrops/2013/08/06/creative-link-effects/
and have been modified to work with this
project in a nav bar.
*************************************************************/

/*******************************
320PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 320px) {
  body {
    background: linear-gradient(rgba(160,160,160, 0.6), rgba(160,160,160, 0.6)), url('../images/graydogs.png');
    font-family: $font;
    color: $main-text;
    a {
      color: $main-text;
    }
    a:hover, a:active, a:focus {
      color: $bs-text;
    }
  }

  .header-img {
    @include full-images('../images/soap-bubbles-672658_1920.jpg');
  }

  .about-img {
    @include full-images('../images/about1920.jpg');
  }

  .notfound-img {
    @include full-images('../images/404img1920.jpg');
  }

  .notfound-text {
    margin-top: 30vh;
    color: $image-text;
    text-align: center;
  }

  .about-section {
    background: linear-gradient(rgba(160,160,160, 0.6), rgba(160,160,160, 0.6)), url('../images/graydogs.png');
    border: 2px solid $image-text;
    border-radius: 10px;
  }

  .home-create button {
    margin-top: 5vh;
    background: linear-gradient(rgba(160,160,160, 0.6), rgba(160,160,160, 0.6)), url('../images/graydogs.png');
    border: 2px solid $image-text;
    color: $main-text;
  }

  .home-create a:focus, .home-create a:active, .home-create a:hover {
    text-decoration: none;
  }

  .home-create button:focus, .home-create button:active, .home-create button:hover {
    background: linear-gradient(rgba(160,160,160, 0.6), rgba(160,160,160, 0.6)), url('../images/graydogs.png');
    border: 2px solid $image-text;
    color: $image-text;
  }

 .bottom-button {
    margin-bottom: 50px;
  }

  .admin-img {
    @include full-images('../images/admin1920.jpg')
  }

  .admin-text {
    color: $image-text;
    input {
      color: $image-text;
    }
  }

  nav a {
  	position: relative;
  	display: inline-block;
  	margin: 20px 15px;
  	outline: none;
  	color: $image-text;
  	text-decoration: none;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 400;
  	text-shadow: 0 0 1px rgba(255,255,255,0.3);
  	font-size: 1.35em;
    padding: 0 20px;
  	height: 45px;
  	line-height: 45px;
  }

  nav a:hover,
  nav a:focus {
  	outline: none;
    text-decoration: none;
    color: $image-text;
  }

  .nav-effect a::before,
  .nav-effect a::after {
  	position: absolute;
  	width: 45px;
  	height: 2px;
  	background: $image-text;
  	content: '';
  	opacity: 0.2;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	pointer-events: none;
  }

  .nav-effect a::before {
  	top: 0;
  	left: 0;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	transform: rotate(90deg);
  	-webkit-transform-origin: 0 0;
  	-moz-transform-origin: 0 0;
  	transform-origin: 0 0;
  }

  .nav-effect a::after {
  	right: 0;
  	bottom: 0;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	transform: rotate(90deg);
  	-webkit-transform-origin: 100% 0;
  	-moz-transform-origin: 100% 0;
  	transform-origin: 100% 0;
  }

  .nav-effect a:hover::before,
  .nav-effect a:hover::after,
  .nav-effect a:focus::before,
  .nav-effect a:focus::after {
  	opacity: 1;
  }

  .nav-effect a:hover::before,
  .nav-effect a:focus::before {
  	left: 50%;
  	-webkit-transform: rotate(0deg) translateX(-50%);
  	-moz-transform: rotate(0deg) translateX(-50%);
  	transform: rotate(0deg) translateX(-50%);
  }

  .nav-effect a:hover::after,
  .nav-effect a:focus::after {
  	right: 50%;
  	-webkit-transform: rotate(0deg) translateX(50%);
  	-moz-transform: rotate(0deg) translateX(50%);
  	transform: rotate(0deg) translateX(50%);
  }

  .nav-map a:nth-child(2)::before {
    opacity: 1;
  	top: 0;
  	left: 23.5%;
    -webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	transform: rotate(0deg);
  }

  .nav-map a:nth-child(2)::after {
    opacity: 1;
  	right: 23%;
  	bottom: 0;
    -webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	transform: rotate(0deg);
  }

  .nav-portfolios a:nth-child(3)::before {
    opacity: 1;
	  top: 0;
	  left: 37%;
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform: rotate(0deg);
  }

  .nav-portfolios a:nth-child(3)::after {
    opacity: 1;
	  right: 37%;
	  bottom: 0;
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform: rotate(0deg);
  }

  .nav-admin a:nth-child(1)::before {
    opacity: 1;
	  top: 0;
	  left: 28.5%;
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform: rotate(0deg);
  }

  .nav-admin a:nth-child(1)::after {
    opacity: 1;
    right: 29%;
    bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .foot-top {
    margin-top: 1vh;
    a {
      color: $image-text;
    }
    a:hover, a:focus {
      text-decoration: none;
    }
  }

  .list-middle {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .list-bottom {
    border-bottom: 1px solid $image-text;
  }

  .portfolio-middle {
    margin-bottom: 3vh;
  }

  .portfolio address {
    margin-bottom: 3vh;
  }

  .portfolio button {
    margin-top: 1vh;
  }

  .port-paw i {
    margin-top: 5vh;
  }

  .admin-btn-mobile {
    margin-bottom: 2vh;
  }

/*************************************
Polaroid image inspiration from:
http://codepen.io/andrewboyd/pen/bxwyG
and modified for this project
**************************************/

  @-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  .polaroid {
    width: 220px;
    height: 240px;
    padding: 0;
    position: relative;
    background: #1e1c18;
    border: 7px solid #f5f5f5;
    border-bottom: 50px solid #f5f5f5;
    box-shadow: 0 0 6px -1px #000;
    overflow: hidden;
    clear: both;
    img {
      width: 100%;
    }
  }

  .polaroid-profile img {
    -webkit-animation: fade-in 7s ease-in;
    -moz-animation:    fade-in 7s ease-in;
    -o-animation:      fade-in 7s ease-in;
    animation:         fade-in 7s ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .angular-google-map-container {
    margin-top: 0;
    height: 70vh;
    border: solid 1px $image-text;
    border-radius: 10px;
    box-shadow: 0 0 7px -2px #000;
  }

  .home-logo {
    margin-top: 10vh;
    img {
      width: 100%;
    }
  }

  .nav-logo {
    margin-top: 2vh;
    img {
      width: 100%;
    }
  }

  .admin-login {
    margin-top: 15vh;
  }

  .home-about {
    margin-top: 20vh;
  }

  .list-item {
    margin-top: 5vh;
    img {
      display: inline;
      width: 100%;
    }
    button {
      margin-top: 2vh;
    }
  }

  .buttons button {
    background: transparent;
    border: 1px solid $image-text;
    color: $main-text;
  }

  .buttons button:hover,
  .buttons button:active,
  .buttons button:focus {
    background: $secondary-color;
    border: 1px solid $image-text;
    color: $main-text;
  }

  .portfolio {
    margin-top: 5vh;
    img {
      width: 100%;
      @include box-shadow;
    }
  }

  .portfolio-bio {
    border-top: 1px solid $image-text;
    border-bottom: 1px solid $image-text;
      h3 {
        padding: 2% 0 0 5%;
      }
      p {
        padding: 0 5% 5% 5%;
      }
    }

  .reviews p {
    margin-left: 5%;
    width: 90%;
  }

  .review-title {
    margin-left: 2%;
    width: 65%
  }

  .reviews h4 {
    display: inline-block;
  }

  .paw-review {
    width: 30%;
  }

  .new-groomer {
    margin-top: 1vh;
  }

  .map-window {
    width: 250px;
    height: 150px;
    margin: 0 auto;
  }

  .map-img {
    display: inline-block;
    img {
      margin-left: 15px;
      margin-bottom: 65px;
      max-width: 120px;
      max-height: 100px;
    }
  }

  .map-detail {
    display: inline-block;
    max-width: 175px;
    margin-left: 1%;
    margin-top: 20px;
  }

/********************************************************
  RECTANGLE-BORDER STYLE BUBBLE WITH CURVE
  Modified from the version by Nicolas Gallagher on
  http://nicolasgallagher.com/pure-css-speech-bubbles/
*********************************************************/

  .rectangle-speech-border {
    position:relative;
    padding:30px 10px;
    margin:1em 0 3em;
    border:10px solid $secondary-color;
    color:#000;
    background:$secondary-color;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
  }

  /* creates larger curve */
  .rectangle-speech-border:before {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    left:50px;
    width:50px;
    height:30px;
    border-style:solid;
    border-width:0 30px 10px 0;
    border-color:$secondary-color;
    background:transparent;
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    display:block;
  }

  /* creates smaller curve */
  .rectangle-speech-border:after {
    content:"";
    position:absolute;
    bottom:-40px;
    left:50px;
    width:20px;
    height:30px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:$secondary-color;
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    display:block;
  }

  /* creates a small circle to produce a rounded point where the two curves meet */
  .rectangle-speech-border > :first-child:before {
    content:"";
    position:absolute;
    bottom:-40px;
    left:45px;
    width:8px;
    height:10px;
    background:$secondary-color;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:5px;
  }

  /*************************************************************
  New profile form fields styles found on Sanwebe.com at
  http://www.sanwebe.com/2014/08/css-html-forms-designs
  and have been modified to work with this form and application.
  *************************************************************/

  .new-profile-form {
    padding: 2%;
  }

  .new-profile-form div {
    padding:0;
    margin:0;
  }

  .new-profile-form .form-group {
    display: block;
    padding: 9px;
    border: 2px solid $image-text;
    margin-bottom: 4vh;
    border-radius: 3px;
  }

  .new-profile-form .form-group > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: $image-text;
    border-radius: 3px;
    height: 1.5em;
    padding: 2px 5px 2px 5px;
    color: $complimentary-color;
  }

  .new-profile-form input,
  .new-profile-form textarea
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    background: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
  }

  .new-profile-form .form-group > span {
    background: $secondary-color;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: $image-text;
    font-size: 11px;
  }

  .new-profile-form textarea {
    resize:none;
    height: 10vh;
  }

  .list-search {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .home-search {
    margin-top: 35vh;
    form {
      background: linear-gradient(rgba(160,160,160, 0.6), rgba(160,160,160, 0.6));
    }
  }

}

/*******************************
338PX RESPONSIVE MEDIA QUERY
*******************************/

@media screen and (min-width: 338px) {
  .portfolio-bio {
    margin-top: 50vh;
  }
}

/*******************************
448PX RESPONSIVE MEDIA QUERY
*******************************/

@media screen and (min-width: 448px) {
  .portfolio-bio {
    margin-top: 60vh;
  }
}



/*******************************
640PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 640px) {
  .about-img {
    @include full-images('../images/about1920.jpg');
  }

  .home-logo {
    img {
      width: 60%;
    }
  }

  .foot-top {
    margin-top: 10vh;
  }

  .review-btn {
    margin-bottom: 5vh;
  }

  .list-polaroid {
    margin-bottom: 5vh;
  }

  .portfolio {
    margin-top: 5vh;
  }

  .portfolio-bio {
    margin-top: 70vh;
  }

  .notfound-text {
    margin-top: 40vh;
  }
}

/*******************************
768PX RESPONSIVE MEDIA QUERY
*******************************/

@media screen and (min-width: 768px) {
  .portfolio-bio {
    margin-top: 30vh;
  }

  .portfolio {
    margin-top: 10vh;
  }

  .notfound-text {
    margin-top: 50vh;
  }
}

/*******************************
992PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 992px) {
  .about-img {
    @include full-images('../images/about1920.jpg');
  }

  .home-logo img {
    width: 50%;
  }

  .foot-top {
    margin-top: 15vh;
  }

  .portfolio-bio {
    margin-top: 10vh;
  }

}

/*******************************
1280PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
}

/*******************************
1920PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
  .about-img {
    @include full-images('../images/about1920.jpg');
  }

}
