/*************************************************************
Navigation link effects found on Codrops at
http://tympanus.net/codrops/2013/08/06/creative-link-effects/
and have been modified to work with this
project in a nav bar.
*************************************************************/
/*******************************
320PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 320px) {
  body {
    background: linear-gradient(rgba(191, 189, 177, 0.6), rgba(191, 189, 177, 0.6)), url("../images/graydogs.png");
    font-family: "Arimo", sans-serif;
    color: #000000; }
    body a {
      color: #000000; }
    body a:hover, body a:active, body a:focus {
      color: #333333; }

  .header-img {
    background: url("../images/homepg1920.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .about-img {
    background: url("../images/homemap600.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .notfound-img {
    background: url("../images/404img1920.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .notfound-text {
    margin-top: 45vh;
    color: #FFFFFF;
    text-align: center; }

  .about-section {
    background: linear-gradient(rgba(191, 189, 177, 0.6), rgba(191, 189, 177, 0.6)), url("../images/graydogs.png");
    border: 2px solid #FFFFFF;
    border-radius: 10px; }

  .home-create button {
    margin-top: 5vh;
    background: linear-gradient(rgba(191, 189, 177, 0.6), rgba(191, 189, 177, 0.6)), url("../images/graydogs.png");
    border: 2px solid #FFFFFF;
    color: #000000; }

  .home-create a:focus, .home-create a:active, .home-create a:hover {
    text-decoration: none; }

  .home-create button:focus, .home-create button:active, .home-create button:hover {
    background: linear-gradient(rgba(191, 189, 177, 0.6), rgba(191, 189, 177, 0.6)), url("../images/graydogs.png");
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }

  .bottom-button {
    margin-bottom: 50px; }

  .admin-img {
    background: url("../images/admin1920.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  nav a {
    position: relative;
    display: inline-block;
    margin: 20px 15px;
    outline: none;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    padding: 0 20px;
    height: 45px;
    line-height: 45px; }

  nav a:hover,
  nav a:focus {
    outline: none;
    text-decoration: none;
    color: #FFFFFF; }

  .nav-effect a::before,
  .nav-effect a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: #FFFFFF;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none; }

  .nav-effect a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0; }

  .nav-effect a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0; }

  .nav-effect a:hover::before,
  .nav-effect a:hover::after,
  .nav-effect a:focus::before,
  .nav-effect a:focus::after {
    opacity: 1; }

  .nav-effect a:hover::before,
  .nav-effect a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%); }

  .nav-effect a:hover::after,
  .nav-effect a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%); }

  .nav-map a:nth-child(2)::before {
    opacity: 1;
    top: 0;
    left: 23.5%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  .nav-map a:nth-child(2)::after {
    opacity: 1;
    right: 23%;
    bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  .nav-portfolios a:nth-child(3)::before {
    opacity: 1;
    top: 0;
    left: 37%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  .nav-portfolios a:nth-child(3)::after {
    opacity: 1;
    right: 37%;
    bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  .nav-admin a:nth-child(1)::before {
    opacity: 1;
    top: 0;
    left: 28.5%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  .nav-admin a:nth-child(1)::after {
    opacity: 1;
    right: 29%;
    bottom: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  .foot-top {
    margin-top: 30vh; }
    .foot-top a {
      color: #FFFFFF; }
    .foot-top a:hover, .foot-top a:focus {
      text-decoration: none; }

  .list-polaroid {
    margin-bottom: 5vh; }

  .list-middle {
    margin-top: 3vh;
    margin-bottom: 3vh; }

  .list-bottom {
    border-bottom: 1px solid #FFFFFF; }

  .portfolio-middle {
    margin-bottom: 3vh; }

  .portfolio address {
    margin-bottom: 3vh; }

  .portfolio button {
    margin-top: 1vh; }

  /*************************************
  Polaroid image inspiration from:
  http://codepen.io/andrewboyd/pen/bxwyG
  and modified for this project
  **************************************/
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-moz-keyframes fade-in {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-o-keyframes fade-in {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes fade-in {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  .polaroid {
    width: 220px;
    height: 240px;
    position: relative;
    background: #1e1c18;
    border: 7px solid #f5f5f5;
    border-bottom: 50px solid #f5f5f5;
    box-shadow: 0 0 6px -1px #000;
    overflow: hidden;
    clear: both; }
    .polaroid img {
      width: 100%; }

  .polaroid-profile img {
    -webkit-animation: fade-in 7s ease-in;
    -moz-animation: fade-in 7s ease-in;
    -o-animation: fade-in 7s ease-in;
    animation: fade-in 7s ease-in;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1; }

  .angular-google-map-container {
    margin-top: 0;
    height: 70vh;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 7px -2px #000; }

  .home-logo {
    margin-top: 20vh; }
    .home-logo img {
      width: 80%; }

  .nav-logo {
    margin-top: 2vh; }
    .nav-logo img {
      width: 100%; }

  .admin-login {
    margin-top: 15vh; }

  .home-search {
    margin-top: 35vh; }

  .home-about {
    margin-top: 20vh; }

  .list-item {
    margin-top: 5vh; }
    .list-item img {
      display: inline;
      width: 100%; }
    .list-item button {
      margin-top: 2vh; }

  .buttons button {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #000000; }

  .buttons button:hover,
  .buttons button:active,
  .buttons button:focus {
    background: #BFBDB1;
    border: 1px solid #FFFFFF;
    color: #000000; }

  .portfolio {
    margin-top: 10vh; }
    .portfolio img {
      width: 100%;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

  .portfolio-bio {
    margin-top: 5vh;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 3px; }

  .reviews p {
    margin-left: 5%;
    width: 90%; }

  .review-title {
    margin-left: 2%;
    width: 75%; }

  .reviews h4 {
    display: inline-block; }

  .paw-review {
    width: 20%;
    text-align: right; }

  .new-groomer {
    margin-top: 1vh; }

  .map-window {
    width: 300px;
    height: 150px;
    margin: 0 auto; }

  .map-img {
    display: inline-block; }
    .map-img img {
      margin-left: 15px;
      margin-bottom: 65px;
      max-width: 120px;
      max-height: 100px; }

  .map-detail {
    display: inline-block;
    max-width: 175px;
    margin-left: 1%;
    margin-top: 20px; }

  /********************************************************
    RECTANGLE-BORDER STYLE BUBBLE WITH CURVE
    Modified from the version by Nicolas Gallagher on
    http://nicolasgallagher.com/pure-css-speech-bubbles/
  *********************************************************/
  .rectangle-speech-border {
    position: relative;
    padding: 30px 10px;
    margin: 1em 0 3em;
    border: 10px solid #BFBDB1;
    color: #000;
    background: #BFBDB1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }

  /* creates larger curve */
  .rectangle-speech-border:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -40px;
    left: 50px;
    width: 50px;
    height: 30px;
    border-style: solid;
    border-width: 0 30px 10px 0;
    border-color: #BFBDB1;
    background: transparent;
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    display: block; }

  /* creates smaller curve */
  .rectangle-speech-border:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50px;
    width: 20px;
    height: 30px;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: #BFBDB1;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    display: block; }

  /* creates a small circle to produce a rounded point where the two curves meet */
  .rectangle-speech-border > :first-child:before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 45px;
    width: 8px;
    height: 10px;
    background: #BFBDB1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px; }

  /*************************************************************
  New profile form fields styles found on Sanwebe.com at
  http://www.sanwebe.com/2014/08/css-html-forms-designs
  and have been modified to work with this form and application.
  *************************************************************/
  .new-profile-form {
    padding: 2%; }

  .new-profile-form div {
    padding: 0;
    margin: 0; }

  .new-profile-form .form-group {
    display: block;
    padding: 9px;
    border: 2px solid #FFFFFF;
    margin-bottom: 4vh;
    border-radius: 3px; }

  .new-profile-form .form-group > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    border-radius: 3px;
    height: 1.5em;
    padding: 2px 5px 2px 5px;
    color: #646247; }

  .new-profile-form input,
  .new-profile-form textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    background: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0; }

  .new-profile-form .form-group > span {
    background: #BFBDB1;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #FFFFFF;
    font-size: 11px; }

  .new-profile-form textarea {
    resize: none;
    height: 10vh; }

  .list-search {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; } }
/*******************************
640PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 640px) {
  .about-img {
    background: url("../images/homemap800.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .home-logo img {
    width: 60%; }

  .review-btn {
    margin-bottom: 5vh; } }
/*******************************
960PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 960px) {
  .about-img {
    background: url("../images/homemap1280.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .home-logo img {
    width: 50%; } }
/*******************************
1280PX RESPONSIVE MEDIA QUERY
*******************************/
/*******************************
1920PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 1280px) {
  .about-img {
    background: url("../images/homemap1920.jpg") no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

/*# sourceMappingURL=main.css.map */
