<div class="container-fluid">
<div class="row">
  <nav class="navbar-fixed-top col-md-4 col-md-offset-8 cl-effect-14">
      <a href="">
        Map
      </a>
      <a href="#/list">
        Search
      </a>
      <a href="">
        Sign In
      </a>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center">Edit Portfolio Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="adminCtrl.editGroomer(adminCtrl.profile)">
        <div class="form-group">
          <label for="">Name</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.name" required>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.email" required>
        </div>
        <div class="form-group">
          <label for="">Company</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.company" required>
        </div>
        <div class="form-group">
          <label for="">Company URL</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.companyURL" required>
        </div>
        <div class="form-group">
          <label for="">Company Address</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.address" required>
        </div>
        <div class="form-group">
          <label for="">Company City</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.city" required>
        </div>
        <div class="form-group">
          <label for="">Company State</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.state" required>
        </div>
        <div class="form-group">
          <label for="">Company Zip</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.zip" required>
        </div>
        <div class="form-group">
          <label for="">Phone</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.phone" required>
        </div>
        <div class="form-group">
          <label for="">Profile Image URL</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.mainimg" required>
        </div>
        <div class="form-group">
          <label for="">Bio</label>
          <textarea class="form-control" rows="3" ng-model="adminCtrl.profile.bio" required></textarea>
        </div>
        <div class="form-group">
          <label for="">Portfolio Image URLs</label>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.portimg1" required>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.portimg2" required>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.portimg3" required>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.portimg4" required>
          <input class="form-control" type="text" ng-model="adminCtrl.profile.portimg5">
          <input class="form-control" type="text" ng-model="adminCtrl.profile.portimg6">
        </div>
        <button type="submit" class="btn btn-default pull-right">Submit Portfolio Edits</button>
      </form>
    </div>
  </div>
</div>
</div>
