<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-md-offset-1 nav-logo">
    <a href="#/">
      <img src="images/shampoodle-logo-white.png">
    </a>
  </div>
  <nav class="col-md-6 col-md-offset-2 nav-effect nav-admin">
    <a href="#/adminlist">
      Admin
    </a>
    <a href="#/#about">
      About
    </a>
    <a href="#/map">
      Map
    </a>
    <a href="#/list">
      Portfolios
    </a>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 list-search new-profile-form">
      <form action="" class="form-group">
        <label for="">Search Groomer Portfolios</label>
        <input type="text" ng-model="searchTerm">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <div class="btn-group buttons" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="predicate = 'name'; reverse=false">
          <i class="fa fa-sort-alpha-asc fa-fw"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="predicate = 'name'; reverse=true">
          <i class="fa fa-sort-alpha-desc fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="profile in adminCtrl.profiles | filter:searchTerm | orderBy: 'name' | orderBy:predicate:reverse">
    <div class="col-md-3 col-md-offset-2 list-item buttons polaroid">
      <img src="{{profile.mainimg}}">
    </div>
      <div class="col-md-2 list-item">
        <h4>{{profile.name}}</h4>
        <p><a href="{{profile.companyURL}}" target="_blank">{{profile.company}}</a></p>
        <p>{{profile.address}}</p>
        <p>{{profile.city}}, {{profile.state}} {{profile.zip}}</p>
        <p><a href="tel:{{profile.phone}}">{{profile.phone}}</a></p>
        <p><a href="mailto:{{profile.email}}" target="_blank">{{profile.email}}</a></p>
      </div>
      <div class="col-md-3 list-item buttons">
        <button class="btn btn-default" ng-click="adminCtrl.deleteGroomer(profile._id)">
          <i class="fa fa-trash-o fa-fw fa-lg"></i>
        </button>
        <a href="#/edit/{{profile._id}}">
          <button class="btn btn-default">
            <i class="fa fa-pencil-square-o fa-fw fa-lg"></i>
          </button>
        </a>
        <button class="btn btn-default" ng-hide="profile.approved" ng-click="adminCtrl.approveGroomer(profile)">
          <i class="fa fa-thumbs-o-up fa-fw fa-lg"></i>
        </button>
      </div>
  </div>
</div>
