<div class="container-fluid">
<div class="row">
  <nav class="navbar-fixed-top col-md-4 col-md-offset-8">
      <a href="">
        Map
      </a>
      <a href="#/list">
        Search
      </a>
      <a href="">
        Sign In
      </a>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 list-search">
      <input type="search" class="form-control input-lg" placeholder="Search Groomer Portfolios...">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 list-item" ng-repeat="profile in adminCtrl.profiles">
      <a href="#/portfolio/{{profile._id}}"><img src="{{profile.mainimg}}"></a>
      <p>{{profile.name}}</p>
      <p><a href="{{profile.companyURL}}">{{profile.company}}</a></p>
      <p>{{profile.address}}</p>
      <p>{{profile.city}}, {{profile.state}} {{profile.zip}}</p>
      <p><a href="tel:{{profile.phone}}">{{profile.phone}}</a></p>
      <p><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
      <button class="btn btn-default" ng-click="adminCtrl.deleteGroomer(profile._id)">
        Delete
      </button>
      <a href="#/edit/{{profile._id}}">
        <button class="btn btn-default">Edit</button>
      </a>
    </div>
  </div>
</div>
