<div class="container-fluid">
<div class="row">
  <nav class="navbar-fixed-top col-md-5 col-md-offset-7 cl-effect-14">
      <a href="#/map">
        Map
      </a>
      <a href="#/list">
        Portfolios
      </a>
      <a href="#/adminlist">
        Admin
      </a>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 new-groomer">
      <h3 class="text-center">Portfolio Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="adminCtrl.addGroomer(newProfile)">
        <div class="form-group">
          <label for="">Name</label>
          <input class="form-control" type="text" ng-model="newProfile.name" required>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input class="form-control" type="email" ng-model="newProfile.email" required>
        </div>
        <div class="form-group">
          <label for="">Company</label>
          <input class="form-control" type="text" ng-model="newProfile.company" required>
        </div>
        <div class="form-group">
          <label for="">Company URL</label>
          <input class="form-control" type="url" ng-model="newProfile.companyURL" required>
        </div>
        <div class="form-group">
          <label for="">Company Address</label>
          <input class="form-control" type="text" ng-model="newProfile.address" required>
        </div>
        <div class="form-group">
          <label for="">Company City</label>
          <input class="form-control" type="text" ng-model="newProfile.city" required>
        </div>
        <div class="form-group">
          <label for="">Company State</label>
          <input class="form-control" type="text" ng-model="newProfile.state" required>
        </div>
        <div class="form-group">
          <label for="">Company Zip</label>
          <input class="form-control" type="text" ng-model="newProfile.zip" required>
        </div>
        <div class="form-group">
          <label for="">Phone</label>
          <input class="form-control" type="tel" ng-model="newProfile.phone" required>
        </div>
        <div class="form-group">
          <label for="">Profile Image URL</label>
          <input class="form-control" type="url" ng-model="newProfile.mainimg" required>
        </div>
        <div class="form-group">
          <label for="">Bio</label>
          <textarea class="form-control" rows="3" ng-model="newProfile.bio" required></textarea>
        </div>
        <div class="form-group">
          <label for="">Portfolio Image URLs</label>
          <input class="form-control" type="url" ng-model="newProfile.portimg1" required>
          <input class="form-control" type="url" ng-model="newProfile.portimg2" required>
          <input class="form-control" type="url" ng-model="newProfile.portimg3" required>
          <input class="form-control" type="url" ng-model="newProfile.portimg4" required>
          <input class="form-control" type="url" ng-model="newProfile.portimg5" required>
          <input class="form-control" type="url" ng-model="newProfile.portimg6" required>
        </div>
        <button type="submit" class="btn btn-default pull-right">Submit Portfolio</button>
      </form>
    </div>
  </div>
</div>
</div>
