<div class="container-fluid">
<div class="row">
  <nav class="navbar-fixed-top col-md-4 col-md-offset-8">
    <ul>
      <a href="">
        <li>Map</li>
      </a>
      <a href="#/list">
        <li>Search</li>
      </a>
      <a href="">
        <li>Sign In</li>
      </a>
    </ul>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 list-search">
      <input type="text" ng-model="searchText" class="form-control input-lg" placeholder="Search Groomer Portfolios...">
    </div>
  </div>
  <div class="row" ng-repeat="profile in portCtrl.profiles | filter:searchText">
    <div class="col-md-3 col-md-offset-2 list-item">
      <a href="#/portfolio/{{profile._id}}"><img src="{{profile.mainimg}}"></a>
    </div>
    <div class="col-md-2 list-item">
      <p>{{profile.name}}</p>
      <p><a href="{{profile.companyURL}}">{{profile.company}}</a></p>
      <p>{{profile.address}}</p>
      <p>{{profile.city}}, {{profile.state}} {{profile.zip}}</p>
      <p><a href="tel:{{profile.phone}}">{{profile.phone}}</a></p>
      <p><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
    </div>
  </div>
<!--   <div class="row">
  <div class="col-md-8 col-md-offset-2 list-item">
    <a href="#/portfolio"><img src="http://placehold.it/150x150"></a>
    <p>Jane Groomer</p>
    <p><a href="">Bubbles and Suds Grooming</a></p>
    <p>1234 Meeting Street</p>
    <p>Charleston, SC 29403</p>
    <p><a href="tel:843-555-5555">843-555-5555</a></p>
    <p><a href="mailto:youremailaddress">Email Me</a></p>
  </div>
</div> -->
</div>
