<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-md-offset-1 nav-logo">
    <a href="#/">
      <img src="images/shampoodle-logo-white.png">
    </a>
  </div>
    <nav class="col-md-5 col-md-offset-3 nav-effect nav-portfolios">
      <a href="#/#about">
        About
      </a>
      <a href="#/map">
        Map
      </a>
      <a href="#/list">
        Portfolios
      </a>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 list-search new-profile-form">
      <form action="" class="form-group">
        <label for="">Search Groomer Portfolios</label>
        <input type="text" ng-model="searchTerm">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="predicate = 'name'; reverse=false">
          <i class="fa fa-sort-alpha-asc fa-fw"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="predicate = 'name'; reverse=true">
          <i class="fa fa-sort-alpha-desc fa-fw"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="predicate = 'avgpaws'; reverse=true">
          <i class="fa fa-long-arrow-down"></i><i class="fa fa-paw"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="predicate = 'avgpaws'; reverse=false">
          <i class="fa fa-long-arrow-up"></i><i class="fa fa-paw"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="profile in portCtrl.profiles | filter:searchTerm | orderBy: 'name' | orderBy:predicate:reverse">
    <div ng-show="profile.approved">
    <div class="col-md-3 col-md-offset-2 list-item">
      <a href="#/portfolio/{{profile._id}}"><img src="{{profile.mainimg}}"></a>
    </div>
    <div class="col-md-2 list-item">
      <p>{{profile.name}}</p>
      <p><a href="{{profile.companyURL}}" target="_blank">{{profile.company}}</a></p>
      <p>{{profile.address}}</p>
      <p>{{profile.city}}, {{profile.state}} {{profile.zip}}</p>
      <p><a href="tel:{{profile.phone}}">{{profile.phone}}</a></p>
      <p><a href="mailto:{{profile.email}}" target="_blank">{{profile.email}}</a></p>
    </div>
    <div class="col-md-2 list-item">
      <h4><i ng-repeat="i in portCtrl.getNumber(profile.avgpaws) track by $index" class="fa fa-paw fa-2x fa-fw"></i></h4>
    </div>
  </div>
  </div>
<!--   <div class="row">
  <div class="col-md-8 col-md-offset-2 list-item">
    <a href="#/portfolio"><img src="http://placehold.it/150x150"></a>
    <p>Jane Groomer</p>
    <p><a href="">Bubbles and Suds Grooming</a></p>
    <p>1234 Meeting Street</p>
    <p>Charleston, SC 29403</p>
    <p><a href="tel:843-555-5555">843-555-5555</a></p>
    <p><a href="mailto:youremailaddress">Email Me</a></p>
  </div>
</div> -->
</div>
