<div class="container-fluid">
<div class="row">
  <div class="header-img col-md-12" id="home">
  <div class="row">
  <nav class="col-md-5 col-md-offset-7 nav-effect text-center">
      <a href="#about">
        About
      </a>
      <a href="#/map">
        Map
      </a>
      <a href="#/list">
        Portfolios
      </a>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-1 home-logo">
      <img src="images/shampoodle-logo-white.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-7 home-search new-profile-form">
      <form action="" class="form-group" ng-submit="portCtrl.homeSearch(searchTerm)">
        <label for="">Search Groomer Portfolios</label>
        <input type="text" ng-model="searchTerm">
      </form>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="about-img col-md-12" id="about">
    <div class="row">
      <div class="col-md-6 col-md-offset-5 home-about">
        <div class="about-section">
          <div class="panel-body">
            <h3 class="text-center">About Shampoodle Portfolios</h3>
            <p>Shampoodle Portfolios provides a one stop shop for viewing all of the dog groomers in your area. You can search for dog groomers as well as locate them on a map. Once you have narrowed down a groomer of interest, you can view their profile that also includes a portfolio of their work. Groomer profiles include a bio as well as their contact information.</p>
            <p>Similar to a five star rating system, Shampoodle Portfolios includes a five paw rating system. Each groomer profile also features a review section. Customers can leave reviews along with a paw rating and the overall average of that paw rating is available for each groomer to help you locate the perfect groomer based on their overall rating.</p>
            <p>If you are a groomer looking to have your portfolio included, just click the button below, and once your profile has been submitted it will be reviewed. Once approved, your profile will be available along with all our other groomers!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-5 col-xs-offset-0 home-create">
        <a href="#/newprofile">
          <button class="btn btn-default btn-lg center-block">
            Create your portfolio now!
          </button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-11 col-xs-3 col-xs-offset-5 foot-top">
        <a href="#home">
          <i class="fa fa-angle-up fa-2x"></i> Top
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<script>
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});
</script>
