<div class="container-fluid">
<div class="row">
  <nav class="navbar-fixed-top col-md-5 col-md-offset-7 cl-effect-14">
      <a href="#/map">
        Map
      </a>
      <a href="#/list">
        Portfolios
      </a>
      <a href="">
        Sign In
      </a>
  </nav>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <div ng-repeat="profile in portCtrl.profiles">
        <ui-gmap-markers idKey="profile._id" coords="groomer.coords" icon="'icon'">
          <ui-gmap-window options="windowOptions" closeClick="closeClick()">
            <div class="map-window">
              <img src="{{profile.mainimg}}" alt="">
              <div class="map-groomer-detail">
                <p>{{profile.address}}</p>
                <p>{{profile.city}}, {{profile.state}} {{profile.zip}}</p>
                <p><a href="tel:{{profile.phone}}">{{profile.phone}}</a></p>
                <p><a href="mailto:{{profile.email}}" target="_blank">{{profile.email}}</a></p>
              </div>
            </div>
          </ui-gmap-window>
        </ui-gmap-markers>
      </div>
    </ui-gmap-google-map>
  </div>
</div>
</div>

<!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <div ng-repeat="company in compCtrl.companies">
    <ui-gmap-marker
          idKey='company._id'
          coords='company.coords'>
      <ui-gmap-window options="windowOptions" closeClick="closeClick()">
          <div class="map-window">
            <img data-ng-src="{{company.logo}}" />
            <div class="map-comp-detail">
              <p><i class="fa fa-building"></i>{{company.address1}} <br />
                 <span class="addresstwo">{{company.city}}, SC</span></p>
              <p><i class="fa fa-phone"></i>{{company.phone}}</p>
              <p><i class="fa fa-envelope"></i><a href="mailto:{{company.email}}">{{company.email}}</a></p>
              <p><i class="fa fa-link"></i><a href="{{company.website}}" target="_blank">{{company.website}}</a></p>
              <p>{{company.descrShort}}</p>
            </div>
        </div>
      </ui-gmap-window>
    </ui-gmap-marker>
  </div>
</ui-gmap-google-map>
 -->
