<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1 nav-logo">
    <a href="#/">
      <img src="images/shampoodle-logo-white.png">
    </a>
  </div>
  <nav class="col-md-5 col-md-offset-3 col-xs-8 col-xs-offset-2 nav-effect text-center">
    <a href="#/#about">
      About
    </a>
    <a href="#/map">
      Map
    </a>
    <a href="#/list">
      Portfolios
    </a>
  </nav>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-2 portfolio polaroid polaroid-profile">
      <img src="{{portCtrl.profile.mainimg}}">
    </div>
      <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-2 portfolio buttons">
        <h4 class="portfolio-middle">{{portCtrl.profile.name}}</h4>
        <address>
          <strong><i class="fa fa-building-o fa-fw"></i> <a href="{{portCtrl.profile.companyURL}}" target="_blank">{{portCtrl.profile.company}}</a></strong><br>
          {{portCtrl.profile.address}}<br>
          {{portCtrl.profile.city}}, {{portCtrl.profile.state}} {{portCtrl.profile.zip}}<br>
        </address>
        <p><i class="fa fa-phone fa-fw"></i> <a href="tel:{{portCtrl.profile.phone}}">{{portCtrl.profile.phone}}</a></p>
        <p><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{portCtrl.profile.email}}" target="_blank">{{portCtrl.profile.email}}</a></p>
        <a href="#" onclick="javascript:window.open('mailto:?subject=Check out this groomer\'s portfolio&body= ' + window.location);return false;" target="_blank">
          <button class="btn btn-default"><i class="fa fa-share-square-o fa-fw"></i> Share Portfolio</button>
        </a>
      </div>
      <div class="col-md-3 text-left portfolio port-paw">
        <h4><i ng-repeat="i in portCtrl.getNumber(portCtrl.profile.avgpaws) track by $index" class="fa fa-paw fa-2x fa-fw"></i></h4>
      </div>
      <div class="col-md-6 col-md-offset-3 portfolio-bio">
        <h3>Bio</h3>
        <p>{{portCtrl.profile.bio}}</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="row">
  <section id="photostack" class="col-md-12 photostack photostack-start">
    <div>

  <figure>
    <div class="photostack-img">
      <img src="{{portCtrl.profile.portimg1}}">
    </div>
  </figure>
  <figure>
    <div class="photostack-img">
      <img src="{{portCtrl.profile.portimg2}}">
    </div>
  </figure>
  <figure>
    <div class="photostack-img">
      <img src="{{portCtrl.profile.portimg3}}">
    </div>
  </figure>
  <figure>
    <div class="photostack-img">
      <img src="{{portCtrl.profile.portimg4}}">
    </div>
  </figure>
  <figure>
    <div class="photostack-img">
      <img src="{{portCtrl.profile.portimg5}}">
    </div>
  </figure>
  <figure>
    <div class="photostack-img">
      <img src="{{portCtrl.profile.portimg6}}">
    </div>
  </figure>
</div>
</section>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Reviews</h2>
    </div>
  </div>
  <div class="row" ng-repeat="review in portCtrl.profile.reviews">
    <div class="col-md-offset-2">
    <div class="col-md-9 reviews rectangle-speech-border">
      <h4 class="review-title">{{review.title}}</h4>
      <h4 class="paw-review"><i ng-repeat="i in portCtrl.getNumber(review.rating) track by $index" class="fa fa-paw fa-lg fa-fw"></i></h4>
      <p><strong>Reviewer:</strong> {{review.name}}</p>
      <p><strong>Posted:</strong> {{review.date | date:'MMM d, y'}}</p>
      <p>{{review.review}}</p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 new-profile-form buttons">
      <button class="btn btn-default review-btn center-block bottom-button" ng-click="showReviewForm = !showReviewForm">
        <i class="fa fa-comment-o fa-fw"></i> Add Review
      </button>
      <form ng-submit="portCtrl.addReview(newReview, portCtrl.profile)" ng-show="showReviewForm">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" ng-model="newReview.name" required>
        </div>
        <div class="form-group">
          <label for="">Review Title</label>
          <input type="text" ng-model="newReview.title" required>
        </div>
        <div class="form-group">
          <label for="">Paw Rating</label>
            <select class="form-control" ng-model="newReview.rating" required>
              <option value="1">1 Paw</option>
              <option value="2">2 Paws</option>
              <option value="3">3 Paws</option>
              <option value="4">4 Paws</option>
              <option value="5">5 Paws</option>
            </select>
        </div>
        <div class="form-group">
          <label for="">Review</label>
          <textarea rows="3" ng-model="newReview.review" required></textarea>
        </div>
        <button type="submit" class="btn btn-default pull-right bottom-button" ng-click="showReviewForm = !showReviewForm">
          Submit Review
        </button>
      </form>
    </div>
  </div>
</div>


<script>

  new Photostack( document.getElementById('photostack'), {
    callback: function(item) {
    }
  });

</script>
